html
    head
        title DataLayer
            body
            p #{json}
                //- -var ob = JSON.parse(json)
                //- -for(var prop in ob)
                //- p #{prop}: #{ob[prop]}